.scrollTop{
    position: fixed;
    right: 20px;
    bottom: 20px;
    background-color:  #3d1101;
    color: #ffffff;
    font-size: 2rem;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    transition: all 0.2s;
    &:hover{
        transform: scale(1.2);
    }
    @include ipad(){
        display: none;
    }
}
.tips-title{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h3{
        font-size: 1.25rem;
        line-height: 2rem;
        position: relative;
        top: 2rem;
        background-color: #efe9e7;
        padding: 0 15px;
        font-weight: bold;
    }
    .tips-hr{
        width: 460px;
        height: 1px;
        background:#979797;
        margin: 0 auto;
        @include ipad(){
            display: none;
        }
    }
}
.tips-intro{
    margin-top: 60px;
    margin-bottom: 50px;
    @include ipad(){
        margin-bottom: 0;
    }
    ul{
        display: flex;
        justify-content: space-between; 
        @include ipad(){
            flex-direction: column;
        }  
    }
    li{
        display: flex;
        flex-direction: column;
        align-items: center;
        @include ipad(){
            margin-bottom: 40px;
        }
        h3{
            margin: 20px 0 10px 0;
        }
        p{
            padding: 0 30px;
            line-height: 1.5rem;
            @include ipad(){
                padding: 0;
            }
        }
    }
    img{
        border-radius: 50%;
        display: block;
    }
}
.chief{
    background-color: #3d1101;
    color: #ffffff;
    .wrap{
        display: flex; 
        flex-wrap: wrap;
        align-items: flex-start; //預設是 stretch, 會讓圖片 y 軸伸縮，用這行 css 取消掉
        @include ipad(){
            padding-right: 0;
            padding-left: 0;
        }
    }
}
.chief-img{
    background-image: url('../img/main_chef_brown.png');
    background-size: cover;
    background-position: center center;
    width: 50%;
    height: 460px;
    @include ipad(){
        background-position: top center;
        width: 100%;  
    }
}
.chief-intro{
    margin: 80px 0 0 2%;
    width: 43%;
    @include ipad(){
        width: 85%;
        margin: 30px auto;
    }
    h2{
        font-size: 1.25rem;
        line-height: 2rem;
    }
    p{
        // 偽類 nth:child() 指的是 "所有的" 子元素，包含 h2、p......
        &:nth-of-type(1){
            margin-bottom: 16px;
        }
        line-height: 1.5rem;
    }
}
.recommend{
    margin-bottom: 50px;
    h3{
        font-size: 1.5rem;
        line-height: 2rem;
        text-align: center;
        padding: 50px 0 32px 0;
    }
    ul{
        display: flex;
        justify-content: space-between;
        @include ipad(){
            flex-direction: column;
            align-items: center;
        }
    }
    li{
        display: flex;
        //flex-wrap: wrap;
        @include ipad(){
            margin-bottom: 30px;
        }
        img{
            border-radius: 50%;
            display: block;
            width: 67px;
            height: 67px;  // 沒寫死寬高會被伸縮，必須寫死
        }
    }
}
.recommend-text{
    width: 100%;
    margin-top: 22px;
    margin-left: 12px;
    h4{
        font-size: 1.2rem;
        line-height: 1.5rem;
        margin-bottom: 19px;
    }
    p{
        line-height: 1.5rem;
        margin-bottom: 1em;
    }
}
.index-order{
    background-color: #f6f4f3;
    padding-bottom: 50px;
    h3{
        font-size: 1.5rem;
        line-height: 2rem;
        text-align: center;
        padding: 50px 0 38px 0;
    }
    .wrap{
        display: flex;
        // align-items: start;
        @include ipad(){
            flex-wrap: wrap;
        }
    }
    .example-image-link{
        width: 100%;
    }
    img{
        object-fit: cover;
        @include ipad(){
            width: 100%;
        }
    }
    .pure-form{
        margin-left: 20px;
        // flex-grow: 1;
        width: 100%;
        @include ipad(){
            margin-top: 30px;
            margin-left: 0;
        }
        fieldset{
            padding-top: 0;
        }
        label{
            line-height: 1.25rem;
            margin-bottom: 6px;
            margin-top: 0;
        }
        input[type=email], input[type=text], input[type=tel]{
            width: 100%;
            margin-bottom: 12px;
            padding: 5px 9px;
        }
        .pure-radio{
            display: inline-block;
            margin-right: 36px;
        }
    }
    button[type=submit]{
        @include rwd(480px){
            margin: 0;
        }
    }
    .index-submitBtn{
        margin-top: 25px;
        display: flex;
        justify-content: flex-end;
        .pure-button{
            margin-left: 11px;
            padding: .3em 1em;
        }
    }
}
