*{
    box-sizing: border-box;
}
body,html{
    font-family: arial,sans-serif;
    background-color: #efe9e7;
    color: #3D1101;
    overflow-x: hidden;
}
a{
    text-decoration: none;
}
.wrap{
    max-width: 1024px;
    margin: 0 auto;
    padding-left: 5%;
    padding-right: 5%;
}
.w-50{
    width: 50%;
}
//
.pure-button-orange{
    background-color: #F56C23;
    color: #ffffff;
}
.pure-button-dark{
    background: rgba(0,0,0,0.35);
    color: #ffffff;
}
.topNav{
    background-color: #000000;
    opacity: 0.8;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 100;
    @include ipad(){
        &.openMenu{
            ul{
                max-height: 573px;
            } 
        }
    }
    a{
        color: #ffffff;
        display: block;
    }
    .wrap{
        display: flex;
        justify-content: space-between;
        @include ipad(){
            flex-wrap: wrap;
        }
    }
    ul{
        display: flex;
        transition: all 0.5s;
        @include ipad(){
            max-height: 0;
            overflow: hidden;
            flex-wrap: wrap;
            width: 100%;
        }
        li{
            @include ipad(){
                width: 100%;
                &:last-child a{
                    margin-right: 0;
                }
            }
        }
        a{
            line-height: 1.25rem;
            padding: 18px 31px;
            white-space: nowrap;
            transition: all 0.5s;
            @include ipad(){
                text-align: center;
            }
        }
        & a:hover{
            background-color: #ffffff;
            color: #000000;
        }
        .active{
            background-color: #ffffff;
            color: #000000;
        }
    }
    .Menu-toggle{
        display: none;
        position: absolute;
        padding: 20px;
        right: 10px;
        top: 0;
        @include ipad(){
            display: block;
        }
    }
}
.topNav-logo{
    display: block;
    width: 120px;
    height: 56px;
    background-image: url('../img/logo_w@svg.svg');
    background-position: center center;
    background-repeat: no-repeat;
    text-indent: 101%;
    white-space: nowrap;
    overflow: hidden;
}
.banner{
    background-image: url('../img/header_desktop.png');
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 420px;
    display: flex;
    justify-content: center;
    align-items: center;
    @include ipad(){
        background-image: url('../img/header_mobile.png');
    }
}
.banner-text{
    color: white;
    background-color: rgba(0,0,0,0.35);
    padding: 40px 20px;
    text-align: center;
    @include ipad(){
        padding: 40px 10px;
    }
    h2{
        font-size: 2.25rem;
        line-height: 3rem;
        margin-bottom: 1rem;
    }
    p{
        line-height: 1.25rem;
    }
    .fa-utensils{
        margin: 0 5px;
    }
    br{
        display: none;
        @include ipad(){
            &:nth-child(1){
                display: inline;
            }
        }
    }
}
//頁尾
footer{
    .wrap{
        display: flex;
        justify-content: space-between;
        @include ipad(){
            flex-wrap: wrap;
            justify-content: flex-end;
        }
    }
}
.footer-info{
    display: flex;
    @include ipad(){
        flex-wrap: wrap;
        margin-top: 30px;
    }
    h2{
        font-size: 1.5rem;
        line-height: 2rem;
        margin-bottom: 16px;
    }
    p,li{
        max-width: 300px;
        line-height: 1.25rem;
    }
    ul{
        list-style-type: disc;
    }
}
.footer-text{
    margin: 50px 35px 50px 0px; 
    @include ipad(){
        margin: 0;
        margin-bottom: 30px;
    }
    ul{
        @include ipad(){
            margin-left: 10%;
        }
    }
}
.footer-logo{
    display: block;
    background-image: url('../img/logo_l@svg.svg');
    width: 245px;
    height: 49px;
    background-position: center center;
    background-repeat: no-repeat;
    text-indent: 101%;
    white-space: nowrap;
    overflow: hidden;
    margin: 50px 0px 22px 0;
    @include ipad(){
        margin: 0px 0px 22px 0;
    }
}
.shareLinks{
    display: flex;
    justify-content: flex-end;
    @include ipad(){
        margin-bottom: 50px;
    }
    a{
        display: block;
        font-size: 2.25rem;
        margin-left: 12px;
    }
    li:nth-child(1) a{
        color: #DB4437;
    }
    li:nth-child(2) a{
        color: #41ABE1;
    }
    li:nth-child(3) a{
        color: #3A5795;
    }
}
